.maincontainer {
    width: 800px;
    text-align: center;
    background-color: skyblue;
}

.container {
    width: 600px;
}

.container h2 {
    text-align: left;
}

.maincontainer div {
    margin: 0 auto;
}

td img {
    width: 70px;
}

table {
    margin: 0 auto;
    background-color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
    width: 600px;
}

table td {
    border-bottom: 1px solid black;
}

.btmenu span {
    
}