.maincontainer {
    width: 800px;
    text-align: center;
    background-color: skyblue;
}

.maincontainer div {
    margin: 0 auto;
}

td img {
    width: 70px;
}

table {
    margin: 0 auto;
    background-color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
}