.main-container {
    display: flex;
    flex-wrap: wrap;
}

.main-container > div {
    flex-basis: 25%;
}

@media screen and (max-width: 1200px) {
    .main-container > div {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-container > div {
        flex-basis: 100%;
    }
}